html, body {
   width: 100%;
   height: 100%;
}
body {
    text-align: center;
    
}
#logo{
    margin-top: 200px;
    margin-bottom: 20px;
}
#search-field{
    margin-bottom: 20px;
    width: 45%;
    height: 40px;
    border-style: outset;
    border-width: 1px;
    border-color: #F2F3F4;
    background: url("mic.PNG") no-repeat right 3px;
}
.ex4{
   display: inline-block;
    line-height: 28px;
    margin: 20px;
    font-size: small;
    font-family: sans-serif;
}
.ex4 a{
    padding-right: 7px;   
}
#search-button, #lucky-button{
    width:120px;
    height:30px;
    border-color:transparent;
    background-color: #F8F9F9;
    padding: 10px;
    text-align: center;
    padding-bottom: 25px; 
    }